/* Bestehende Stile beibehalten */

html, body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding-top: 0%;
}
.responsive-heading {
    font-size: clamp(1rem, 10vw, 5rem); /* Mindestgröße: 1rem, wächst mit der Viewport-Breite, Maximalgröße: 2.5rem */
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.responsive-heading-2 {
    font-size: clamp(1rem, 8vw, 5rem); /* Mindestgröße: 1rem, wächst mit der Viewport-Breite, Maximalgröße: 2.5rem */
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
body { 
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    /*background-image: linear-gradient(to bottom, rgb(0, 11, 32) 40%, rgb(0, 217, 255) 250%);*/
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: top; 
    background-repeat: no-repeat; 
    color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
}
.body-roll {
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    background: #333333;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: top; 
    background-repeat: no-repeat; 
    color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
}
.body-skinrave {
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    background-image: linear-gradient(to bottom, rgb(1, 36, 0) 40%, rgb(77, 77, 77) 250%);
    background-position: top; 
    background-repeat: no-repeat; 
    color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
}
.body-clash {
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: top; 
    background-repeat: no-repeat; 
    color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
}
.body-big {
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto;
    background-image: linear-gradient(to bottom, rgb(5, 9, 41) 40%, rgba(0, 92, 121, 0.801) 250%);
    background-position: top; 
    background-repeat: no-repeat; 
    color: #f5f5f5; 
    display: flex; 
    flex-direction: column; 
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertikale Zentrierung des Inhalts */
    align-items: center;      /* Horizontale Zentrierung des Inhalts */
    padding: 1%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 1%;
}

footer {
    width: 100%;
    background-color: transparent;
    padding: 20px;
    text-align: center;
}


nav {
    margin-top: 40px; /* Verschiebt die NavBar um 40px nach unten */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

     flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center; /* Vertikale Ausrichtung von Text und Bild */
}




nav ul li a .nav-icon {
    width: auto;  /* Setzt die Breite des Bildes */
    height: 24px; /* Setzt die Höhe des Bildes */
    margin-right: 8px;  /* Abstand zwischen Bild und Text */
}

nav ul li a:hover {
    color: #ffffff;
    transform: scale(1.1); /* Leichter Anstieg beim Hover */
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px 20px;           /* Innenabstand */
    /* background-color: #0066cc;    /* Hintergrund der Box */
    border-radius: 12px;          /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten */
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
}

h1, p {
    text-align: center;
}

.container {
    display: flex;
    gap: 40px;
    margin-top: 10%; /* Positioniert die Boxen im oberen Viertel */
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 60px;  /* Ein kleiner Abstand zum Footer */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(#000d29ee,#0283fcb9) ;*/
    padding: 80px;
    /*border-radius: 15px;*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);*/
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px; /* Feste Breite für beide Boxen */
    height: 250px; /* Feste Höhe für beide Boxen */
    overflow: hidden; /* Verhindert, dass Inhalte über die Box hinausragen */
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
}

.box img {
    width: 80%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 40px;
}

.box span {
    display: flex;
    justify-content:center;
    align-items: center;     /* Zentriert den Text vertikal */
    color: #e6e6e6;
    font-size: 24px;
    font-weight: bold;
    width: 100%;              /* Stellt sicher, dass das <span> die gesamte Breite der Box einnimmt */
    height: 100%;             /* Stellt sicher, dass das <span> die gesamte Höhe der Box einnimmt */
    text-align: center;      /* Zentriert den Text horizontal */
}

.box:hover {
    background-color: #ffffff1f;
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Stil für den Container */
#table-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #91919167;
    border-radius: 15px;
    justify-self: center;
}

/* Stil für die Tabelle */
table {
    width: 80%;
    margin: 0 auto;
    border-spacing: 0 10px; /* Abstand NUR zwischen den Zeilen */
    border-collapse: separate; /* Wichtig: erlaubt spacing! */
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

/* Stil für Tabellenkopf (th) */
th {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #3d5872c4;
    color: #b4b4b4;
    font-size: 18px;
}

/* Stil für Tabellenzellen (td) */
td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fdfdfd65;
    color: #ffffff;
    font-size: 18px;
    background-color: #ffffff0e; /* Hintergrundfarbe der Zellen */
}

/* Zeilen-Stil mit Animation */
tr {
    transition: transform 0.3s ease;
}

/* Hover-Effekt für Zeilen */
/*tbody tr:hover td {
    background-color: #c5c5c5b4;
    cursor: pointer;
    transform: scale(1.02);
}*/

/* Tabelle allgemein */
#sheet-table {
    max-width: 80%;
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

/* Optional: Header-Überschriften neutraler */
#sheet-table th {
    background-color: #3d587200;
}
/* Runde nur die erste und letzte Zelle einer Zeile ab */
tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Hover-Effekt für komplette Tabellenzeile */
tbody tr:hover td {
    background-color: #94949491; /* leicht transparenter Highlight */
    transform: scale(1.01); /* leichtes Vergrößern */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* sanfter Schatten */
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links li {
    display: inline;
}

.social-links a {
    display: block;
    width: 40px;
    height: 40px;
}

.social-links img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1); /* Vergrößert das Logo, wenn der Benutzer darüber fährt */
}

#top-three-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drei gleich breite Spalten */
    gap: 5px;  /* Abstand zwischen den Boxen */
    justify-items: center; /* Zentriert die Boxen horizontal */
    align-items: center; /* Zentriert die Boxen vertikal */
    position: relative;
    margin-top: 5%; /* Optionaler Abstand nach oben */
    width: 80%;  /* Damit das Grid die volle Breite einnimmt */
}

/* Die Boxen selbst */
.participant-box {
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /*background: linear-gradient(#00b7ffde, #010e13);*/
    border-radius: 8px;
    /*box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39);*/
    width: 100%;  /* Die Boxen nehmen die komplette Breite der Zelle ein */
    max-width: 250px; /* Maximale Breite der Box */
    min-width: 150px; /* Minimale Breite der Box */
    height: auto;  /* Höhe passt sich dem Inhalt an */
    overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
    
}
.participant-box-roll {
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /*background: linear-gradient(#ff3c01,#420404cc) ;*/
    border-radius: 8px;
    /*box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39);*/
    width: 100%;  /* Die Boxen nehmen die komplette Breite der Zelle ein */
    max-width: 250px; /* Maximale Breite der Box */
    min-width: 150px; /* Minimale Breite der Box */
    height: auto;  /* Höhe passt sich dem Inhalt an */
    overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
    
}
.participant-box-skinrave {
    text-align: center;
    padding: 20px;
    background: linear-gradient(#48ff00d3,#042b00c9) ;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39);
    width: 100%;  /* Die Boxen nehmen die komplette Breite der Zelle ein */
    max-width: 250px; /* Maximale Breite der Box */
    min-width: 150px; /* Minimale Breite der Box */
    height: auto;  /* Höhe passt sich dem Inhalt an */
    overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
    transition: all 0.3s ease;
}

.participant-box-csgobig {
    text-align: center;
    padding: 20px;
    background: linear-gradient(#030233d3,#1f5d75c9) ;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39);
    width: 100%;  /* Die Boxen nehmen die komplette Breite der Zelle ein */
    max-width: 250px; /* Maximale Breite der Box */
    min-width: 150px; /* Minimale Breite der Box */
    height: auto;  /* Höhe passt sich dem Inhalt an */
    overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
    transition: all 0.3s ease;
}

.participant-box:hover {
    transform: scale(1.1); /* Vergrößert das Logo, wenn der Benutzer darüber fährt */
    color: #ffffff;
    background-color:#00b7ff6b ;
}
.participant-box-roll:hover {
    transform: scale(1.1); /* Vergrößert das Logo, wenn der Benutzer darüber fährt */
    color: #ffffff;
    background-color:#ff3c017a ;
}
.participant-box-csgobig:hover {
    transform: scale(1.1); /* Vergrößert das Logo, wenn der Benutzer darüber fährt */
    color: #ffffff;
    background-color:#4964ffad ;
}

.participant-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #aaaaaa6b;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39) ;
}

/* Platzierung des ersten Platzes (oben in der Mitte) */
.top-box {
    grid-column: 2;  /* Der erste Platz kommt in die mittlere Spalte */
    grid-row: 1; /* Erste Reihe */
    margin-bottom: 60px;
}

/* Platzierung des zweiten Platzes (links knapp unterhalb) */
.left-box {
    grid-column: 1; /* Der zweite Platz kommt in die erste Spalte */
    grid-row: 1; /* Erste Reihe */
    margin-top: 60px; /* Verschieben nach unten */
}

/* Platzierung des dritten Platzes (rechts knapp unterhalb) */
.right-box {
    grid-column: 3; /* Der dritte Platz kommt in die dritte Spalte */
    grid-row: 1; /* Erste Reihe */
    margin-top: 60px; /* Verschieben nach unten */
}

.info-box {
    /* background-color: rgba(255, 255, 255, 0.05); */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    /* box-shadow: 0 10px 16px rgba(0, 0, 0, 0.39) ;*/
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
  }

.participant-name {
    color: #ffffff;
    font-size: 24px;
    text-align: center;

}
@media (max-width: 768px) {
    #top-three-container {
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für kleinere Bildschirme */
    }

    .participant-box {
        width: 90%; /* Boxen nehmen 90% der Spaltenbreite ein */
        max-width: 220px; /* Maximale Breite der Boxen */
        min-width: 130px; /* Minimale Breite */
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Media Query für sehr kleine Bildschirme (Handy im Hochformat) */
@media (max-width: 480px) {
    #top-three-container {
        grid-template-columns: 1fr; /* Eine Spalte auf kleinen Bildschirmen */
    }

    .participant-box {
        width: 80%; /* Boxen nehmen 80% der Bildschirmbreite */
        max-width: 200px; /* Maximale Breite */
        min-width: 120px; /* Minimale Breite */
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

#countdown {
    font-size: clamp(1.5rem, 5vw, 3rem); /* Passt die Größe an den Bildschirm an */
    font-weight: bold;
    color: white;
    /*background: linear-gradient(180deg, #1616162d, #818181);*/
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    /*box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);*/
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.98);
    
}
#countdown:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.637);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.small-table {
    width: 30%; /* Kleinere Breite */
    font-size: 14px; /* Kleinere Schrift */
    margin: 10px auto; /* Zentriert */
}

.small-table th, 
.small-table td {
    padding: 8px; /* Kleinere Zellengröße */
    background-color: #ff324300;
}
#loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin: 40px 0;
}

.image-row img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: #010e13;
}
/* style.css Particels*/

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
}