body {
    font-family: Arial, sans-serif;
    background-image: url('images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #a3b2c0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #00509e;
    background-image: url('images/Background_Kopfleiste.png');
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffffd0;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
    transform: translateY(-2px); /* Leichter Anstieg beim Hover */
}

h1, p {
    text-align: center;
}

.container {
    display: flex;
    gap: 40px;
    margin-top: 10%; /* Positioniert die Boxen im oberen Viertel */
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: rgba(144, 238, 255, 0.459);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px; /* Feste Breite für beide Boxen */
    height: 250px; /* Feste Höhe für beide Boxen */
    overflow: hidden; /* Verhindert, dass Inhalte über die Box hinausragen */
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

.box span {
    display: flex;
    justify-content: center; /* Zentriert den Text horizontal */
    align-items: center;     /* Zentriert den Text vertikal */
    color: #003366;
    font-size: 24px;
    font-weight: bold;
    width: 100%;              /* Stellt sicher, dass das <span> die gesamte Breite der Box einnimmt */
    height: 100%;             /* Stellt sicher, dass das <span> die gesamte Höhe der Box einnimmt */
    text-align: center;      /* Zentriert den Text horizontal */
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

#table-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  